numpy>=2.0.0
pandas>=2.2.2
scipy>=1.14.0
xarray>=2024.6.0
matplotlib>=3.9.1
scikit-learn>=1.5.1
h5py>=3.11.0
h5pyd>=0.18.0
netCDF4>=1.7.1.post1
statsmodels>=0.14.2
requests
pecos>=0.3.0
fatpack
NREL-rex>=0.2.63
beautifulsoup4
notebook
numexpr>=2.10.0
lxml
bottleneck