[run]
omit =
    # omit everything in tests and /hindcast
    ./mhkit/tests/*
    ./mhkit/wave/io/hindcast/*

[report]
omit =
    # omit everything in tests and /hindcast
    ./mhkit/tests/*    
    ./mhkit/wave/io/hindcast/*

