name: Py 3.7 3.8, 3.9 | Windows Mac Linux

on:
  push:
    branches: [ master ]
  pull_request:
    branches: 
      - master 
      - Develop

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macos-latest"]
        python-version: [3.7, 3.8, 3.9]

    steps:
    - name: Checkout MHKiT source
      uses: actions/checkout@v3
    
    - name: Setup Conda
      uses: s-weigand/setup-conda@v1
      with:
        activate-conda: false
        conda-channels: conda-forge

    - name: Set up Python ${{ matrix.python-version }}
      # shell: bash -l {0}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
      
    - name: Update and install packages
      shell: bash -l {0}
      run: |
        python -m pip install --upgrade pip wheel
        pip install cython
        pip install h5py --upgrade --no-dependencies --force
        pip install h5pyd --upgrade
        echo "THE PATH: $PATH"        
        pip install nose
        pip install pytest
        pip install coveralls
        pip install .
        
    - name: Run nose
      shell: bash -l {0}
      run: |          
        nosetests -v --traverse-namespace --with-coverage --cover-package=mhkit mhkit

    - name: Upload coverage data to coveralls.io
      run: coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_FLAG_NAME: ${{ matrix.python-version }}
        COVERALLS_PARALLEL: true
  coveralls:
    name: Indicate completion to coveralls.io
    needs: build
    runs-on: ubuntu-latest
    container: python:3-slim
    steps:
    - name: Finished
      run: |
        pip3 install --upgrade coveralls
        coveralls --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
